* {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: auto;

}
.container{
/*     overflow: auto; */
    width: 800%;
    white-space: nowrap;
}
.container > div {
    width: 200px;
    height: 200px;
    float: left;
    margin: 0 4px 0 0;
    background-color: #404040;

}