@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.thome .navbar{
    width: 100%;
    height: 85px;
    background-color: #044642;

}

a,
button{
    color: whitesmoke;
    font-weight: 400;
    font-size: 15px;
}

/*Ayos background*/
.navbar{
    height: 100%;
    width: 100%;

}

.nav_links{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}
.recordbg{
    position: fixed;
    height: 100%;
    width: 100%;
    background: url(../images/bgsub.jpg) no-repeat; 
    background-size: cover;
    background-position: center;
}

.nav_links img{
    height: 70px;
    width: 70px;
    margin-top: 8px;
    margin-right: auto;
    margin-left: 35px;
}

.nav_links li{
    list-style: none;
    display: inline-block;
    padding: 0 14px;
}

.nav_links li a{
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(10, 23, 75);
}

.nav_links li,
.nav_links .btn{
    margin-right: 50px;
}

.nav_links .btn button{
    padding: 7px 45px;
    background-color: rgb(10, 22, 33);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav_links .btn button:hover{
    background-color: rgb(1, 4, 7);
}
.content{
    width: 100%;
    height: 483px;
    overflow: hidden;
    
}
 .content .table{
    border-collapse: collapse;
    font-size: 18px;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    background-attachment: scroll;
} 


.table thead tr{
    color: rgb(68, 61, 61);
    text-align: center;
    
}

.table td a{
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 22px;
    transition: 0.4s ease-in;
}
.table td a:hover{
    color: #044642;
}

  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #abeec6;
  }

  th, td {
    border-style:outset;
  }