@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.thome .navbar{
    width: 100%;
    height:85px;
    background-color: #044642;
}
a,
button{
    color: whitesmoke;
    font-weight: 400;
    font-size: 15px;
}

/*Ayos background*/
.navbar{
    height: 100%;
    width: 100%;

}

.nav_links{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}
.adminp{
    position: fixed;
    height: 100%;
    width: 100%;
    background: url(../images/bgsub.jpg) no-repeat;
    background-position: center;
    background-size: 100% 100%;
    overflow: auto;
}

.nav_links img{
    height: 70px;
    width: 70px;
    margin-top: 8px;
    margin-right: auto;
    margin-left: 35px;
}

.nav_links li{
    list-style: none;
    display: inline-block;
    padding: 0 14px;
}

.nav_links li a{
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(10, 23, 75);
}

.nav_links li,
.nav_links .btn{
    margin-right: 50px;
}

.nav_links .btn button{
    padding: 7px 45px;
    background-color: rgb(10, 22, 33);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav_links .btn button:hover{
    background-color: rgb(1, 4, 7);
}

/* ----------------------------------NEW PART FOR TABLE --------------------------------*/

/* Hatian for low height*/
.content .table{
    height: 85%;
    width: 1070px;
    border-radius: 3px;
    margin-left: 15px;
    background-color: #ffffffd7;
    white-space: nowrap;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-attachment: scroll;
}

  /* table */

  .table .user{
    z-index: 1;
    border-collapse: collapse;
    font-size: 18px;
    min-width: 685px;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.table .user{
    height: 100%;
    width: 100%;
}

.table thead{
   background-color: #335452;
   text-align: center;
}

.table thead tr{
    color: white;
    text-align: center;
}

.table button{
    cursor: pointer;
    outline: none;
    border: none;
    padding:0 30px;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0,0.2);
    border-radius: 9px;
    height: 40px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.296);
}
.table button:hover{
    background-color: rgba(0, 0, 0, 0.534);
}

/* ------------------------------END OF NEW PART FOR TABLE -----------------------------*/

/* Combination of top and bottom height */
.thome .content{ 
    margin-top: 18px;
    margin-left: 90px;
    width: 1100px;
    height: 450px;
    background: #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px);
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1);
}

/* Hatian for top height*/
.content .btn-card{
    height: 15%;
}


/*--------------------------------------- BUTTON -----------------------------------------*/
.content .cont{
    margin-top: 15px;
    margin-left: 18px;
    overflow: hidden;
    position: fixed;
    padding: 8px 26px;
    color: #fff;
    width: 200px;
    box-shadow: 0 0 0 0 rgba(255, 188, 87, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content .cont .register,
.content .cont .register button{
    text-decoration: none;
    font-size: 14px;
}
button[name="but"]{
    border: none;
    background:none;
}

.content .cont::after{
    content:"";
    width: 500px;
    height: 600px;
    position: absolute;
    top: -70px;
    left: -100px;
    background-color: #ff3cac;
    background-image: linear-gradient(
        225deg, 
        #27d86c 0%,
        #41cfbe 50%,
        #2d5d43 100%);
        z-index: -1; 
    transition: transform 0.5s ease;
}  

.content .cont:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(255, 188, 87, 0.5), -10px 10px 25px 0 rgba(39, 200, 255, 0.5),
    -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}
.content .cont:hover::after{
    transform: rotate(150deg);
}

/* THIS IS FOR SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* background: #999191; */
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(33, 114, 71);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(25, 81, 51);
    border-radius: 10px;
  }


  /* ----------------------para sa pop up------------------ */
  .popup {
      position:absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      width: 380px;
      padding: 20px 30px;
      background: #fff;
      box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
  }

  .popup .close-btn{
      position: absolute;
      top: 10px;
      right: 10px;
      width: 15px;
      height: 15px;
      background-color: #888;
      color: #eee;
      text-align: center;
      line-height: 15px;
      cursor: pointer;
      border: none;
  }

  .popup .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
  }

  .popup .form .form-element{
      margin: 15px 0px;
  }

  .popup .form .form-element label{
      font-size: 14px;
      color: #222;
  }

  .popup .form .form-element input[type="text"],
  .popup .form .form-element input[type="password"]{
      margin-top: 5px;
      display: block;
      width:100%;
      padding:10px;
      outline: none;
      border: 1px solid #aaa;
      border-radius: 5px;
  }

  .popup .form .form-element button {
      margin-top: 9px;
      width: 100%;
      height: 40px;
      border: none;
      outline: none;
      font-size: 16px;
      background: rgb(37, 115, 68);
      color: #f5f5f5;
      border-radius: 10px;
      cursor: pointer;
  }

  .popup .form .form-element button:hover{
    background: rgb(26, 83, 49);
  } 
